<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{.Category}} - goread</title>

	<style type="text/css">
		body {
			background: whitesmoke;
			margin: 0;
			padding: .5rem;
		}

		ul {
			padding: 0;
		}

		ul li {
			display: inline;
			list-style: none;
		}

		article {
			background: white;
			border: 1px solid black;
			margin-bottom: .5rem;
		}

		article>h2 {
			background: lightgray;
			border-bottom: 1px solid black;
			margin: 0;
		}

		article>p {
			word-break: break-word;
		}

		h1,
		ul li,
		article>h2,
		article>small,
		article>p {
			margin: 0;
			padding: .25rem;
		}
	</style>
</head>

<body>
	<h1><a href="index.html">goread</a></h1>

	<ul>
		{{range .Categories}}
		<li><a href="{{.}}.html">{{.}}</a></li>
		{{end}}
	</ul>

	{{range .Items}}
	<article>
		<h2>
			<a href="{{.Link}}" target="_blank">{{.Title | sanitize | trim}}</a>
		</h2>
		<small>
			by <a href="{{.Feed.Link}}">{{.Feed.Title | sanitize | trim}}</a>
			on {{.Time.Format "02. Jan 2006"}}
		</small>
		<p>
			{{.Description | sanitize | trim | truncate}}
			{{.Content | sanitize | trim | truncate}}
		</p>
		</div>
	</article>
	{{end}}

	<footer>
		Updated {{.Updated.Format "02. Jan 2006 at 15:04"}}. Version {{.Version}}.
	</footer>
</body>

</html>